
html,body,table

{

	font-family: arial,helvetica,sans-serif;

/*	font-size: 13px;*/

}

.feat1 tr td

{

	background: url('images/bg_mast2.gif') top left repeat-x;

	padding: 0;

	margin: 0;

	border: 0;

}

table#main2

{

	border: 0;

	margin: 0;

	padding: 0;

	background: none;

}

table#main2 tr td

{

	border: 0;

	margin: 0;

	padding: 0;

	background: none;

	

}

table#main2 tr td.nav1,table#main2 tr.nav1 td

{

	line-height:0;

}

table#main2 tr.sub1 td

{

	background: #5c8098;

	padding: 3px 0;

}

table#main2 tr.sub1 td span

{

	padding: 0 14px;

	font-size: 0.9em;

}

table#main2 tr.sub1 td span a

{

	color: #5C8098!important;

}

table#main2 tr.sub1 td span.on a

{

	font-weight: normal;

	color: #FF!important;

}



div.cap1

{

	background: url('images/hd_caption2.jpg') top left no-repeat;

	height:96px;

	padding: 0;

	margin: 0;

	border: 0;

}

div.subf_wrap

{

	padding: 8px;

	margin: 0;

	border: 0;

	background: none;

}

table.subf

{

	float: right;

	margin: 0;

	padding: 0;

	border: 0;

	background: none;

}

table.subf tr td

{

	margin: 0;

	padding: 0;

	border: 0;

	background: none;

}

table.subf tr td.subf_body

{

	background: url('images/bg_subf.gif');

	font-size: 0.8em;

	padding: 0 3px;

	border: 0;

	margin: 0;

}

table.subf tr td.subf_body p

{

	margin: 3px 0;

	padding: 0;

}

table#body

{

	padding: 0;

	border: 0;

	margin: 0;

	background: none;

}

table#body tr td

{

	padding: 0;

	border: 0;

	margin: 0;

	background: none;

}

table#body tr td div#bodywrap

{

	background: #FFFFFF;

	padding: 12px 8px 12px 12px;

	color: #000;

}

p.first

{

	margin-top: 0;

}



table tr td.white,table tr.white td

{

	background: #FFF;

	padding: 0;

	margin: 0;

	border: 0;

}

table tr td div.min1

{

	height: 1px;

	width: 650px;

	line-height: 0;

	font-size: 0;

	margin: 0;

	padding: 0;

	border: 0;

	background: #FFF;

}





table.generic1

{

	border-top: 1px solid #CCC;

	border-left: 1px solid #CCC;

}

table.generic1 tr td

{

	border-bottom: 1px solid #CCC !important;

	border-right: 1px solid #CCC !important;

}

table.generic1 tr td div

{

	padding: 3px 5px;

}

table.generic1 thead tr td

{

	background: #e1efe0 !important;

	color: #333 !important;

	font-weight: bold !important;

}

table.generic1 tbody tr td

{

	background: #FFF !important;

	color: #666 !important;

}



table.gen1

{

	border-top: 1px solid #8193a0 !important;

	border-left: 1px solid #8193a0 !important;



}

table.gen1 tr td

{

	border-bottom: 1px solid #8193a0 !important;

	border-right: 1px solid #8193a0 !important;

	padding: 5px !important;

	background: #e1e8ec !important;

	vertical-align: top !important;

}

table.gen1 thead tr td

{

	background: #d3e0e8 !important;

	font-weight: bold !important;

}

table.sidebar1

{

	border: 1px solid #b5b0a6;

	background: #ded9cf;

	margin:0 0 5px 10px

}

table.sidebar1 tr td

{

	padding: 10px;

}

h1

{

	font-size: 1em;

	margin: 0 0 10px 0;

	padding: 0;

	text-transform: uppercase;

	color:#000;

}

div#section

{

	font-size: 0.8em;

}

div#title

{

	font-size: 1.4em;

	color: #333;

	font-weight: bold;

}

input

{

	vertical-align:middle;

}

input.t1

{

	width: 96px;

	height: 19px;

	border: 1px solid #1a394e;

	margin: 0 3px 0 0;

	padding: 0 2px;

}



input.btn1

{

	margin: 0 5px 0 0;

}







ol.faqa li

{

	padding-bottom: 20px;

	margin-bottom: 20px;

	border-bottom: 1px dotted #666;

}













a,a:link

{

	text-decoration: none;

	color: #069;

}

a:visited, a:hover

{

	text-decoration: underline;

}

a:active
{ text-decoration: none; color: #FFFFFF; }
