# Property file 
# 
# - version file for com.sun.messaging.jmq
#
imq.product.name=@BRAND_NAME@
imq.product.jarname=@BRAND_NAME@
imq.product.urn=urn:uuid:5f1932ee-ee3f-11dd-8c47-080020a9ed93
imq.product.version=@PRODUCT_VERSION@
imq.product.brand=true
imq.product.brand.major=@MAJOR_VERSION@
imq.product.brand.minor=@MINOR_VERSION@
imq.product.brand.micro=@MICRO_VERSION@

